<!doctype html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Input Info</title>
   </head>
   <body>
      <form action = "/result" method = "POST">
         <p>Name<input type = "text" name = "Name" /></p>
         <p>Univ<input type = "text" name = "Univ" /></p>
         <p>Univ<input type = "text" name = "Univ" /></p>
         <p>Student Number<input type = "number" name="Student Number"></p>
         <p>Gender
            <label><input type = "radio" name = "Gender" value="Male"/>Male</label>
            <label><input type = "radio" name = "Gender" value="Female"/>Female</label>
         </p>
         <p>Major<input type = "text" name = "Major"/></p>
         <p>
            <label><input type="checkbox" name="Programming Language" value="Python">Python</label>
            <label><input type="checkbox" name="Programming Language" value="Java">Java</label>
            <label><input type="checkbox" name="Programming Language" value="HTML">HTML</label>
            <label><input type="checkbox" name="Programming Language" value="C++">C++</label>
         </p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
   </body>
</html>
